.profile-img {
  width: 180px;
  top: -55px;
  height: 100px;
  left: 50px;
  position: absolute;
}
.profile-image{
  width: 290px;
}
.hero-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.hero-caption {
  font-size: 14px;
  font-weight: 300;
}
