

/* .progress {
  width: 100%;
} */

.right-progress-bar {
  width:90px;
  height: 7px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
}

.progress-value {
  height: 100%;
}
.right-result {
    color: #d5d5e3;
    font-weight: 600;
    font-size: 14px;
}