.result-title {
  font-size: 13px;
}

.result-entry {
  border-bottom: 1px solid #eee;
}

.result-entry:last-child {
  border-bottom: none;
}

.result-category {
  color: #afafcb;
  font-size: 12px;
}

.result-value {
  font-size: 13px;
}

.progress {
  width: 100%;
}

.progress-bar {
  width: 180px;
  height: 7px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
}

.progress-value {
  height: 100%;
}
